:root {
    --primary-600: rgba(70, 77, 67, 1);
    --primary-500: rgba(87, 98, 80, 1);
    --primary-400: rgba(144, 153, 139, 1);
    --primary-300: rgba(184, 193, 178, 1);
    --primary-200: rgba(202, 209, 198, 1);
    --neutral-0: rgba(255, 255, 255, 1);
    --neutral-10: rgba(250, 250, 250, 1);
    --neutral-20: rgba(217, 217, 217, 1);
    --neutral-40: rgba(141, 141, 141, 1);
    --neutral-50: rgba(66, 66, 66, 1);
    --header-h1-font-family: "Boska-Bold", Helvetica;
    --header-h1-font-weight: 700;
    --header-h1-font-size: 56px;
    --header-h1-letter-spacing: -1.12px;
    --header-h1-line-height: 64px;
    --header-h1-font-style: normal;
    --header-h2-font-family: "Boska-Bold", Helvetica;
    --header-h2-font-weight: 700;
    --header-h2-font-size: 32px;
    --header-h2-letter-spacing: -0.64px;
    --header-h2-line-height: 40px;
    --header-h2-font-style: normal;
    --header-h3-font-family: "Boska-Bold", Helvetica;
    --header-h3-font-weight: 700;
    --header-h3-font-size: 24px;
    --header-h3-letter-spacing: -0.48px;
    --header-h3-line-height: 32px;
    --header-h3-font-style: normal;
    --header-h4-font-family: "Switzer-Semibold", Helvetica;
    --header-h4-font-weight: 400;
    --header-h4-font-size: 20px;
    --header-h4-letter-spacing: 0px;
    --header-h4-line-height: 28px;
    --header-h4-font-style: normal;
    --p1-regular-font-family: "Switzer-Regular", Helvetica;
    --p1-regular-font-weight: 400;
    --p1-regular-font-size: 16px;
    --p1-regular-letter-spacing: 0px;
    --p1-regular-line-height: 24px;
    --p1-regular-font-style: normal;
    --p1-medium-font-family: "Switzer-Medium", Helvetica;
    --p1-medium-font-weight: 500;
    --p1-medium-font-size: 16px;
    --p1-medium-letter-spacing: 0px;
    --p1-medium-line-height: 24px;
    --p1-medium-font-style: normal;
    --p1-semibold-font-family: "Switzer-Semibold", Helvetica;
    --p1-semibold-font-weight: 400;
    --p1-semibold-font-size: 16px;
    --p1-semibold-letter-spacing: 0px;
    --p1-semibold-line-height: 24px;
    --p1-semibold-font-style: normal;
    --p2-regular-font-family: "Switzer-Regular", Helvetica;
    --p2-regular-font-weight: 400;
    --p2-regular-font-size: 14px;
    --p2-regular-letter-spacing: 0px;
    --p2-regular-line-height: 22px;
    --p2-regular-font-style: normal;
    --p2-medium-font-family: "Switzer-Medium", Helvetica;
    --p2-medium-font-weight: 500;
    --p2-medium-font-size: 14px;
    --p2-medium-letter-spacing: 0px;
    --p2-medium-line-height: 22px;
    --p2-medium-font-style: normal;
    --p2-semibold-font-family: "Switzer-Semibold", Helvetica;
    --p2-semibold-font-weight: 400;
    --p2-semibold-font-size: 14px;
    --p2-semibold-letter-spacing: 0px;
    --p2-semibold-line-height: 22px;
    --p2-semibold-font-style: normal;
    --card-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  }
